* {
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    font-size: 16px;
    line-height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    overflow-y: auto;
}

header {
    background: #607D8B;
    width: 100%;
    height: 120px;
    position: relative;
}

header img.logo {
    height: 107px;
    width: 76px;
    position: absolute;
    left: 40px;
}

header nav {
    width: auto;
    display: table;
    margin: 0 auto;
    position: relative;
    top: 90px;

}

header nav a {
    text-transform: capitalize;
    font-family: Bangers, sans-serif;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;

}